<section class="clamped events" id="events">
    <div class="content">
        <h1>Schedule</h1>
        {% set currDay = null %}
        {% for event in site.events %}
            {% set eventDay = event.start|date("m/d/Y") %}
            {% if currDay != eventDay %}
                {% if not loop.first %}
                </section>
                {% endif %}
            <section class="day">
            <h3>{{ event.start | date('l F jS, Y') }}</h3>
            {% endif %}

            <a href="#event-{{ event.id }}" class="event modal {{ (site.time >= event.start and site.time <= event.end ) ? "ongoing" : "" }}" id="event-{{ event.id }}">
                <article>
                    <header>
                        <div class="location">
                            <div class="times">
                                <time class="start">{{ event.start | date("g:ia") }}</time>
                                —
                                <time class="end">{{  (event.start|date("m/d/Y") == (event.end|date("m/d/Y"))) ? event.end|date("g:ia") : event.end|date("g:ia D") }}</time>
                            </div>
                            <span class="room">{{ event.room }}</span>
                        </div>
                        <h4 class="title">{{ event.title }}</h4>
                    </header>
                    {% if event.description %}
                    <p class="description">{{ event.description }}</p>
                    {% endif %}
                </article>
            </a>

            {% set currDay = eventDay %}

            {% if loop.last %}
            </section>
            {% endif %}
        {% endfor %}

    </div>
</section>