{% extends "site-base.html.twig" %}

{% block title "My Profile" %}

{% block body %}
    {% embed "html-stubs/page.html.twig" %}
        {% block pagebody %}
            {% embed "html-stubs/modal.html.twig" %}
                {% block modalbody %}
                    {% include "html-stubs/dash-nav.html.twig" %}
                    <section class="content">
                        <h1>{{ block('title', _self) }}</h1>
                        {% if not user.verified %}
                        <form action="/api/request-wrapper.php?type=pass" class="form">
                            <input type="hidden" name="type" value="{{ constant('VerificationType::RESET') }}">
                            <input class="button" type="submit" value="Resend Verification Email">
                        </form>
                        {% endif %}

                        <h3>Reset Password</h3>
                        <form action="/api/request-wrapper.php?type=pass" class="form">
                            <input type="hidden" name="change_type" value="{{ constant('VerificationType::CHANGE') }}">
                            <input type="password" placeholder="Current Password" name="curr_pass" minlength="8">
                            <input type="password" placeholder="New Password" name="new_pass" data-validation-group="new_pass_check" minlength="8">
                            <input type="password" placeholder="Confirm New Password" name="new_pass_check" data-validation-group="new_pass_check" minlength="8">
                            <input class="button" type="submit" value="Update Password">
                        </form>

                        <form class="form" action="" method="post">
                            <p>If you need to change anything below, email us at <a href="mailto:questions@shellhacks.net">questions@shellhacks.net</a></p>
                            <fieldset>
                                <legend>Email</legend>
                                <input value="{{ user.email }}" type="email" name="email" disabled required>
                            </fieldset>

                            <fieldset>
                                <legend>Personal Info</legend>
                                <input placeholder="First Name" value="{{ user.firstName }}" type="text" disabled required>
                                <input placeholder="Last Name" value="{{ user.lastName }}" type="text" disabled required>
                                <input placeholder="LinkedIn Profile URL (Optional)" value="{{ user.linkedIn }}" type="text" disabled required>
                                <input placeholder="GitHub Username (Optional)" value="{{ user.github }}" type="text" disabled required>
                                <label for="age">Age</label>
                                <select name="age" id="age" required disabled>
                                    {% for key, value in site.registrationFields.age.value.min .. site.registrationFields.age.value.max %}
                                    {% set age = loop.index0 + site.registrationFields.age.value.min %}
                                        <option value="{{ age }}"
                                        {% if user.age == age %}selected{% endif %}>{{ age }}</option>
                                    {% endfor %}
                                </select>
                                <label for="school">School</label>
                                <select name="school" id="school" required disabled>
                                    {% for id, school in site.schools %}
                                        <option value="{{ id }}"
                                                {% if user.school == id %}selected{% endif %}>{{ school }}</option>
                                    {% endfor %}
                                </select>
                                <label for="class_year">Class Year</label>
                                <select name="class_year" id="class_year" required disabled>
                                    {% for id, year in site.classYears %}
                                        <option value="{{ id }}"
                                                {% if user.classYear == id %}selected{% endif %}>{{ year }}</option>
                                    {% endfor %}
                                </select>
                                <label for="major">Major</label>
                                <select name="major" id="major" required disabled>
                                    {% for id, major in site.majors %}
                                        <option value="{{ id }}"
                                                {% if user.major == id %}selected{% endif %}>{{ major }}</option>
                                    {% endfor %}
                                </select>
                                <label for="state">State</label>
                                <select name="state" id="state" required disabled>
                                    {% for id, state in site.states %}
                                        <option value="{{ id }}"
                                                {% if user.state == id %}selected{% endif %}>{{ state.state }} - {{ state.name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="shirt_size">Shirt Size</label>
                                <select name="shirt_size" id="shirt_size" required disabled>
                                    {% for id, size in site.shirtSizes %}
                                        <option value="{{ id }}"
                                                {% if user.shirtSize == id %}selected{% endif %}>{{ size }}</option>
                                    {% endfor %}
                                </select>
                                <label for="diet_restriction">Diet Restrictions</label>
                                <select name="diet_restriction" id="diet_restriction" required disabled>
                                    {% for id, restriction in site.dietRestrictions %}
                                        <option value="{{ id }}"
                                                {% if user.dietRestriction == id %}selected{% endif %}>{{ restriction }}</option>
                                    {% endfor %}
                                </select>
                                <label for="">Additional diet information</label>
                                <textarea name="diet_other" id="" cols="30" rows="4" disabled>{{ user.dietOther }}</textarea>
                            </fieldset>

                            <fieldset>
                                <legend>Demographic Information</legend>
                                <label for="gender">Gender</label>
                                <select name="gender" id="gender" required disabled>
                                    {% for id, gender in site.genders %}
                                        <option value="{{ id }}"
                                                {% if user.gender == id %}selected{% endif %}>{{ gender }}</option>
                                    {% endfor %}
                                </select>
                                <label for="race">Race</label>
                                <select name="race" id="race" required disabled>
                                    {% for id, race in site.races %}
                                        <option value="{{ id }}"
                                                {% if user.race == id %}selected{% endif %}>{{ race }}</option>
                                    {% endfor %}
                                </select>

                                <label>Are you hispanic?</label>
                                <fieldset>
                                    <input type="radio" value="1" {% if user.hispanic %}checked{% endif %} name="is_hispanic" id="is_hispanic_yes" required disabled><label for="is_hispanic_yes">Yes</label>
                                    <input type="radio" value="0" {% if not user.hispanic %}checked{% endif %} name="is_hispanic" id="is_hispanic_no" required disabled><label for="is_hispanic_no">No</label>
                                </fieldset>

                                <label for="">Is this your first hackathon?</label>
                                <fieldset>
                                    <input type="radio" value="1" {% if user.firstHackathon %}checked{% endif %} name="is_first_hackathon" id="is_first_hackathon_yes" required disabled><label for="is_first_hackathon_yes">Yes</label>
                                    <input type="radio" value="0" {% if not user.firstHackathon %}checked{% endif %} name="is_first_hackathon" id="is_first_hackathon_no" required disabled><label for="is_first_hackathon_no">No</label>
                                </fieldset>
                            </fieldset>
                        </form>
                    </section>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascript %}
    {% embed "js-stubs/submit-form.js.twig" %}
        {% block done %}
            createMessage(data.message, "success");
            console.log(data);
        {% endblock %}
    {% endembed %}
{% endblock %}