<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    {% if not user.loggedIn %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    {% endif %}
    <title>Document</title>
</head>
<body>
<div id="messages">

</div>

{% set kek = true %}
{% if not kek %}
    <h1>Variable not defined byt still evaluates to false</h1>
{% endif %}

{% for email in site.validEmails %}
    {{ email }}
{% endfor %}


<select name="schools">
{% for id, name in site.schools %}
    <option value="{{ id }}">{{ name }}</option>
{% endfor %}
</select>
{% if user.loggedIn %}
    <h1>Hi there {{ user.firstName }}</h1>
    <h2>User is currently {{ user.registrationStateLabel }} and is {% if not user.accepted %}NOT {% endif %} accepted</h2>
    <h2>Site is currently {% if not site.acceptingWalkIns %}NOT {% endif %} accepting walk ins</h2>
    {% for key, item in user.userInfo %}
        <span>{{ key }}: {{ item }} </span>
    {% endfor %}
    <form action="api/request-wrapper.php?type=update" method="post">

        <input type="password" name="curr_pass">
        <textarea name="diet_other" id="" cols="30" rows="10"></textarea>
        <select name="shirt_size" id="">
            <option value="1">Small</option>
            <option value="2">Medium</option>
            <option value="3">Large</option>
        </select>
        <button type="submit">Send</button>
    </form>

    <h2>Pass Reset While Logged In and Current Password</h2>
    <form action="api/request-wrapper.php?type=pass" method="post">
        <input type="password" name="curr_pass">
        <input type="password" name="new_pass">
        <input type="hidden" value="1" name="change_type">
        <button type="submit">Send</button>
    </form>

    <h2>Generate PASS verification key while logged in</h2>
    <form action="api/request-wrapper.php?type=pass" method="post">
        {#<input type="email" name="email">#}
        <input type="hidden" value="0" name="change_type">
        <button type="submit">Send</button>
    </form>

    <h2>Generate EMAIL verification key while logged in</h2>
    <form action="api/request-wrapper.php?type=verify" method="post">
        {#<input type="email" name="email">#}
        <input type="hidden" value="2" name="type">
        <button type="submit">Send</button>
    </form>

    <h2>Verify email with key</h2>
    <form action="api/request-wrapper.php?type=verify" method="post">
        <input type="test" name="key">
        <input type="hidden" value="4" name="type">
        <button type="submit">Send</button>
    </form>


{% else %}
    <form action="api/request-wrapper.php?type=auth" method="post" name="other">

        <input type="text" name="email">
        <input type="password" name="pass">
        <select name="type" id="">
            <option value="login">Login</option>
            <option value="register">Register</option>
        </select>
        <div class="g-recaptcha" data-sitekey="6LevRykUAAAAAHrEG5L_UTm7iqDQIDr7BEx_IuXb"></div>
        <button type="submit">Send</button>
    </form>

    <h2>Generate verification key while NOT logged in</h2>
    <form action="api/request-wrapper.php?type=pass" method="post">
        <input type="email" name="email">
        <input type="hidden" value="0" name="change_type">
        <button type="submit">Send</button>
    </form>

    <h2>Change password with key</h2>
    <form action="api/request-wrapper.php?type=pass" method="post">
        <input type="password" name="key">
        <input type="password" name="new_pass">
        <input type="hidden" value="2" name="change_type">
        <button type="submit">Send</button>
    </form>

    <h2>Pass Reset While NOT Logged In and Current Password</h2>
    <form action="api/request-wrapper.php?type=pass" method="post">
        <input type="password" name="curr_pass">
        <input type="password" name="new_pass">
        <input type="hidden" value="1" name="change_type">
        <button type="submit">Send</button>
    </form>

{% endif %}
<script type="text/javascript">
    $('select').select2();
    let formIsSubmitting = false;
    $("form").on("submit", function (event) {
        event.preventDefault();
        if(formIsSubmitting)
            return;
//        console.log(event);
        let formData = new FormData(this);

        let address = this.action;
        $.ajax({
            method: "POST",
            url: address,
            data: formData,
            contentType: false,
            processData: false,
            dataType: "json",
            beforeSend: function () {
                formIsSubmitting = true;
                $("#messages").empty();
            }
        }).fail(function (jqXHR, textStatus) {
            let response = jqXHR.responseJSON;
            if(textStatus === "parsererror" || !response) {
                console.log("Error parsing request: ", jqXHR.responseText);
            } else {
                for(let entry in response.errors){
                    if(!response.errors.hasOwnProperty(entry))
                        continue;

                    let newHtml = $("#messages").append(`<div><h3>${entry}</h3><ul></ul></div>`);
                    for(let i = 0; i < response.errors[entry].length; i++){
                        newHtml.find("ul").append(`<li>${response.errors[entry][i]}</li>`)
                    }
                }
            }
        }).done(function (data) {
            window.location.reload(true);
        }).always(function (data) {
            if(typeof grecaptcha !== "undefined")
                grecaptcha.reset();
            formIsSubmitting = false;
        })
    })
</script>
</body>
</html>
